In [1]:
import pandas as pd

In [79]:
_df = pd.read_csv("./data/raw/IS_production2.csv",
                  na_values=[-1]  # some of the rows have -1 to indicate missing values; if there are other such values you can add
                  )

_country = (_df.loc[:, "Economy"]
               .str
               .split('_', expand=True)
               .loc[:, 1])

hdf = (_df.rename({"Label2": "statistic"}, axis=1)
          .assign(country=_country)
          .drop(["Label1", "Economy", "Number"], axis=1)
          .set_index(["country", "statistic"])
          .sort_index()
          .stack(level=-1)
          .unstack(level=1))

(hdf.index
    .rename("year", level=1, inplace=True))

# add the additional features
_features = {"PerCapitaGDP": hdf.loc[:, "GDP"] / hdf.loc[:, "POP"],
             "PerCapitaITM": hdf.loc[:, "ITM"] / hdf.loc[:, "POP"]}
with_features_hdf = hdf.assign(**_features)

In [80]:
with_features_hdf.head()

statistic             GDP        ITM      POP  PerCapitaGDP  PerCapitaITM
country year
AUS     1980  347420465.0  6271000.0  14710.0  23617.978586    426.308634
        1981  358188872.0  6683000.0  14902.0  24036.295262    448.463294
        1982  368749588.0  5850000.0  15110.0  24404.340702    387.160821
        1983  360991765.0  4811000.0  15333.0  23543.453010    313.767691
        1984  379601300.0  6054000.0  15568.0  24383.433967    388.874615

In [81]:
with_features_hdf.tail()

statistic              GDP  ITM       POP  PerCapitaGDP  PerCapitaITM
country year
VN      2046  2.374391e+09  NaN  113481.0  20923.251073           NaN
        2047  2.463572e+09  NaN  113800.0  21648.255773           NaN
        2048  2.554307e+09  NaN  114099.0  22386.763547           NaN
        2049  2.646883e+09  NaN  114376.0  23141.942575           NaN
        2050  2.741545e+09  NaN  114630.0  23916.470322           NaN

In [82]:
with_features_hdf.to_csv("./data/interim/cleaned.csv")